{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ voiture.marque }} {{ voiture.modele }}{% endblock %}

{% block body %}
    <div style="background-color: #000000; color: #FFFFFF">
        <div style="box-shadow: 1px 25px 60px -10px rgb(0 114 255 / 65%)">
            <video width="100%" controls>
                <source src="/images/voitures/video-presentation-compressed.mp4" type=video/mp4>
            </video>
        </div>

        <div style="padding: 5%">
            <h1>Découvrez la voiture {{ voiture.marque }} {{ voiture.modele }}</h1>
            <p style="margin-top: 50px">Prix conseillé constructeur</p>
            <span><b>{{ voiture.prix }} €</b></span>
            <div class="row col">
                <hr style="border: 1px solid gray; float: left" width="400">
            </div>

            <div style="margin-top: 3%">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path fill="currentColor"
                              d="M7 4v2h3v2H7l-2 2v3H3v-3H1v8h2v-3h2v3h3l2 2h8v-4h2v3h3V9h-3v3h-2V8h-6V6h3V4H7Z"/>
                    </svg>{{ voiture.chevaux }} Ch &nbsp; <i class='fas fa-gas-pump'></i>&nbsp;{{ voiture.typeEssence }}
                    &nbsp; <i class="fa-solid fa-gears"></i>{{ voiture.boiteVitesse }}
                </div>
                <button style="margin-top: 3%" class="main-btn">Demander une offre personnalisée</button>
            </div>
        </div>

        <div style="padding-left: 5%; padding-right: 5%">
            <h2 style="font-size: 40px">L’extérieur de la Nouvelle Classe A.</h2>
            <p style="font-size: 20px">De la nouvelle face avant progressive avec son habillage de calandre marquant à l'arrière élégant de la
                berline en passant par les projecteurs à LED Multibeam : la Nouvelle Classe A Berline peut être vue
                partout.</p>
        </div>

        <div style="padding: 2% 5% 0 5%;">
            <h2 style="font-size: 40px">L’intérieur de la Nouvelle Classe A.</h2>
            <p style="font-size: 20px">À l'intérieur de la Nouvelle Classe A Berline, tout tourne autour du conducteur : ici, de multiples
                innovations en matière de connectivité et de sécurité, du système multimédia MBUX encore amélioré au
                scanner d'empreintes digitales(1) en option en passant par les sièges confort, convainquent pour un
                confort de conduite entièrement personnalisé.</p>
        </div>

        <div style="padding: 5%">
            <div class="row">
                <div class="col">
                    <picture>
                        <source srcset="/images/voitures/charger.avif" media="(max-width:420px)"
                                type="image/avif">
                        <source srcset="/images/voitures/charger.webp" media="(min-width:421px)"
                                type="image/webp">
                        <img src="/images/voitures/charger.jpg" style="width: 100%; height: auto;"
                             alt="Image voiture charge {{ voiture.marque }} {{ voiture.modele }}" loading="lazy"
                             width="800"
                             height="450">
                    </picture>
                </div>
                <div class="col" style="margin-left: 10px">
                    <picture>
                        <source srcset="/images/voitures/interieur.avif" media="(max-width:420px)"
                                type="image/avif">
                        <source srcset="/images/voitures/interieur.webp" media="(min-width:421px)"
                                type="image/webp">
                        <img src="/images/voitures/interieur.jpg" style="width: 100%; height: auto;"
                             alt="Image voiture intérieur {{ voiture.marque }} {{ voiture.modele }}" loading="lazy"
                             width="800" height="450">
                    </picture>
                </div>
            </div>

            <div class="row" style="margin-top: 30px">
                <div class="col">
                    <picture>
                        <source srcset="/images/voitures/drive.avif" media="(max-width:420px)"
                                type="image/avif">
                        <source srcset="/images/voitures/drive.webp" media="(min-width:421px)"
                                type="image/webp">
                        <img src="/images/voitures/drive.jpg" style="width: 100%; height: auto;"
                             alt="Image voiture conduite {{ voiture.marque }} {{ voiture.modele }}" loading="lazy"
                             width="1635" height="850">
                    </picture>
                </div>
            </div>

            <div class="row" style="margin-top: 30px">
                <div class="col">
                    <picture>
                        <source srcset="/images/voitures/car.avif" media="(max-width:420px)"
                                type="image/avif">
                        <source srcset="/images/voitures/car.webp" media="(min-width:421px)"
                                type="image/webp">
                        <img src="/images/voitures/car.jpg" style="width: 100%; height: auto;"
                             alt="Image voiture charge {{ voiture.marque }} {{ voiture.modele }}" loading="lazy"
                             width="800"
                             height="450">
                    </picture>
                </div>
                <div class="col" style="margin-left: 10px">
                    <picture>
                        <source srcset="/images/voitures/voiture-2-avif.avif" media="(max-width:420px)"
                                type="image/avif">
                        <source srcset="/images/voitures/voiture-2-webp.webp" media="(min-width:421px)"
                                type="image/webp">
                        <img src="/images/voitures/voiture-2.jpg" style="width: 100%; height: auto;"
                             alt="Image voiture intérieur {{ voiture.marque }} {{ voiture.modele }}" loading="lazy"
                             width="800" height="450">
                    </picture>
                </div>
            </div>
        </div>

        <div style="padding: 0 5% 5% 5%">
            <h2 style="font-size: 40px">Caractéristiques techniques relatives aux motorisations de la Nouvelle Classe
                A.</h2>
            <p style="font-size: 20px">Découvrez tout ce qu'il faut savoir sur la consommation, le moteur, les temps de charge, les poids, les
                charges remorquées et bien plus encore.</p>
            <p style="padding-top: 2%; font-size: 20px">
                La meilleure combinaison de performance et de sobriété : la Nouvelle Classe A Berline en Hybride
                Rechargeable. Découvrez la combinaison idéale d'un moteur à essence moderne à quatre cylindres et d'un
                moteur électrique efficace pour une dynamique de conduite intelligente.
            </p>
        </div>
    </div>
{% endblock %}