body {
    margin: 0;
}

.headerImg {
    /*background-image: url("/public/images/garage.jpg");*/
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 50%;
}

.beforeImg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    margin-top: 20%;
    margin-left: 5%;

}

.mainTitle {
    font-size: 50px;
}

.mainTitle2 {
    font-size: 40px;
}

.text-white {
    color: #FFFFFF;
}

.d-inline-flex {
    display: inline-flex;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.float-end {
    float: right;
}

.search-input {
    background-color: #262626;
    padding: 15px;
    border: none;
    margin-left: 20px
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: fit-content;
    max-width: min-content;
    float: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.main-btn {
    background-color: #3b82f6;
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    padding: 15px 25px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    /*margin-right: calc(-0.5 * var(--bs-gutter-x));*/
    /*margin-left: calc(-0.5 * var(--bs-gutter-x));*/
}

.col {
    flex: 1 0 0%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media screen and (max-width: 938px) {
    .navbar {
        display: none;
    }
}