<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    {% if metaDesc is defined and metaDesc != "" %}
        <meta name="description"
              content="{{ metaDesc }}">
    {% endif %}

    <title>{% block title %}GreenIT Voitures - {% endblock %}</title>
    <a href="/" id="index" name="index">
        <link rel="icon" href="/images/logo.png">
    </a>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include "components/_navbar.html.twig" %}
{% block body %}
{% endblock %}
</body>
</html>
