{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Voitures neuves et d'occasion{% endblock %}

{% block body %}
    <div>
        <div>
            <picture>
                <source srcset="/images/garage-400w-avif.avif" media="(max-width:420px)" type="image/avif">
                <source srcset="/images/garage-webp.webp" media="(min-width:421px)" type="image/webp">
                <img src="/images/garage.jpeg" style="width: 100%; height: auto;" alt="Main img" loading="lazy" width="1905" height="800">
            </picture>
            <div class="beforeImg">
                <h1 class="">
                    Bienvenue dans le <br>« Magical Garage ».
                </h1>
                <p>
                    <span>Découvrez nos dernières technologies</span>
                </p>

                <div style="margin-top: 50px">
                    <button class="main-btn">En savoir plus</button>
                </div>
            </div>
        </div>

        <div style="padding: 5%">
            <h2 class="mainTitle2">Actualité : </h2>

            <div class="row" style="display: flex; justify-content: space-evenly;">
                {% for article in articles %}
                    {% set imageName = article.imageFileName| split('.') %}
                    <div class="card col" style="margin-top: 30px">
                        <picture>
                            <source srcset="/images/articles/{{ imageName[0] }}-avif.avif" media="(max-width:420px)"
                                    type="image/avif">
                            <source srcset="/images/articles/{{ imageName[0] }}-webp.webp" media="(min-width:421px)"
                                    type="image/webp">
                            <img src="/images/articles/{{ article.imageFileName }}"
                                 alt="Image article {{ article.title }}" loading="lazy" width="400" height="225">
                        </picture>
                        <div class="container">
                            <h3><b>{{ article.title }}</b></h3>
                            <p>{{ article.description }}</p>

                            <div style="padding-bottom: 20px; margin-top: 100px">
                                <button class="main-btn" style="width: 100%">En savoir plus</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div style="padding: 5%">
            <h2 class="mainTitle2">Nos modèles</h2>

            <div class="row" style="display: flex; justify-content: space-evenly;">
                {% for voiture in voitures %}
                    {% set imageName = voiture.imageFileName| split('.') %}
                    <div class="card col" style="margin-top: 30px">
                        <picture>
                            <source srcset="/images/voitures/{{ imageName[0] }}-avif.avif" media="(max-width:420px)"
                                    type="image/avif">
                            <source srcset="/images/voitures/{{ imageName[0] }}-webp.webp" media="(min-width:421px)"
                                    type="image/webp">
                            <img src="/images/voitures/{{ voiture.imageFileName }}"
                                 alt="Image voiture {{ voiture.modele }}" loading="lazy" width="400" height="225">
                        </picture>
                        <div class="container" style="text-align: center">
                            <h2><b>{{ voiture.marque }}</b></h2>
                            <p>Modèle {{ voiture.modele }}</p>
                            <p style="margin-top: 30px">À partir de {{ voiture.prix }} €</p>

                            <div style="padding-bottom: 30px; margin-top: 40px">
                                <a style="text-decoration: none" class="main-btn" id="consulter" name="consulter"
                                   href="{{ path('catalogue_voitures_show_voiture', {'marque': voiture.marque, 'modele': voiture.modele}) }}">Consulter</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}