<div class="navbar" style="background-color: #000000; margin: auto;">
    <div style="padding: 10px 100px 0 100px">
        <a href="/" style="text-decoration: none" id="backIndex" name="backIndex">
        <picture>
            <source srcset="/images/logo-avif.avif" media="(min-width:0)" type="image/avif">
            <img src="/images/logo.png" alt="Logo" loading="lazy" style="width: 3%">
        </picture>
        </a>
        <div class="d-inline-flex" style="margin-left: 40px">
            <p class="text-white">Mercedes-Benz</p>
        </div>
        <div class="float-end text-white" style="padding-top: 10px">
            <small>© 2023. Mercedes-Benz AG. Tous droits réservés (mentions légales)</small>
            <input type="text" placeholder="Votre recherche" class="search-input text-white">
        </div>
    </div>
    <hr style="border: 1px solid gray">
    <div style="padding: 10px 100px 20px 100px">
        <a style="text-decoration: none; color: #fff; margin-right: 25px" href="#" id="models" name="models">Nos modèles</a>
        <a style="text-decoration: none; color: #fff; margin-right: 25px" href="#" id="achats" name="achats">Achats et services</a>
        <a style="text-decoration: none; color: #fff; margin-right: 25px" href="#" id="conseils" name="conseils">Conseils d'achat</a>
        <a style="text-decoration: none; color: #fff; margin-right: 25px" href="#" id="merco" name="merco">Votre Mercedes-Benz</a>
        <a style="text-decoration: none; color: #fff; margin-right: 25px" href="#" id="marque" name="marque">Notre marque</a>
    </div>
</div>